In [1]:
import pandas as pd
import  numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [2]:
new=df['From_To'].str.split("_",n=1,expand = True) 
df['Temp']=new[0]    
df['Temp1']=new[1]

In [3]:
df.drop(columns=['From_To'],inplace=True)

In [4]:
df['Temp']=df['Temp'].str.lower()
df['Temp1']=df['Temp1'].str.lower()
df['Temp']=df['Temp'].str.capitalize()
df['Temp1']=df['Temp1'].str.capitalize()

In [5]:
x=np.where(df['FlightNumber'].isna())[0]
for i in x:
    df['FlightNumber'][i]=10+df['FlightNumber'][i-1]

C:\Users\himanshimehta\.conda\envs\py37_64\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df['FlightNumber']=df['FlightNumber'].astype(int)

In [7]:
df

   FlightNumber  RecentDelays              Airline      Temp      Temp1
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London